NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

PORTFOLIO_GH_TOKEN=
PORTFOLIO_GITHUB_OWNER=ShreyTriesToCode
PORTFOLIO_TOPIC=portfolio
PORTFOLIO_CONFIG_FILE=.portfolio.json

ADMIN_SYNC_SECRET=
